.header {
  padding-top: 30px;
  text-align: center;
}

.header h1 {
  margin: 0;
  padding: 0;
}

.navigation {}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation ul li {
  padding: 15px;
  display: inline-block;
}

.navigation ul li a {
  text-decoration: none;
}
